{% extends 'basic.html' %}

{% block title%} درباره ی ما{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">فروشگاه تجهیزات شبکه امید</h1>
      <p>

        محل ورود اطلاعات سایت .


      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">بیشتر </a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>عنوان</h2>
        <p>محل ورود اطلاعات صفحه ی درباره ی ما  </p>
        <p><a class="btn btn-secondary" href="#" role="button">نمایش جزئیات</a></p>
      </div>
      <div class="col-md-4">
        <h2>عنوان</h2>
        <p>محل ورود اطلاعات صفحه ی درباره ی ما</p>
        <p><a class="btn btn-secondary" href="#" role="button">نمایش جزئیات</a></p>
      </div>
      <div class="col-md-4">
        <h2>عنوان</h2>
        <p>محل ورود اطلاعات صفحه ی درباره ی ما</p>
        <p><a class="btn btn-secondary" href="#" role="button">نمایش جزئیات</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}