{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">فروشگاه!</h1>
      <p>توضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شودتوضیحات مربوط به فروشگاه در این بخش وارد شود . </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">بیشتر</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>عنوان</h2>
        <p>محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات </p>
        <p><a class="btn btn-secondary" href="#" role="button">جزئیات</a></p>
      </div>
      <div class="col-md-4">
        <h2>عنوان</h2>
        <p>محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات </p>
        <p><a class="btn btn-secondary" href="#" role="button">جزئیات</a></p>
      </div>
      <div class="col-md-4">
        <h2>عنوان</h2>
        <p>محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات محل درج اطلاعات </p>
        <p><a class="btn btn-secondary" href="#" role="button">جزئیات</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}