{% extends 'shop/basic.html' %}
{% block title%} My Awesome Cart Tracker{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>لطفا برای پیگیری سفارش شماره ی سفارش و آدرس ایمیل خود را وارد نمایید.</h2>
        <form method="post" action="#" id="trackerForm">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">شماره سفارش</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="شماره سفارش">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">ایمیل</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ایمیل">
                </div>
                <button type="submit" class="btn btn-primary">پیگیری سفارش</button>
            </div>
    </div>
    <div class="col my-4">
        <h2>وضعیت سفارش شما</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
                لطفا برای یافتن جزئیات سفارش شماره ی سفارش و آدرس ایمیل خود را وارد نمایید
            </ul>
        </div>
        <h2>جزئیات سفارش</h2>
        <div class="my-4">
            <ul class="list-group" id="citems">
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$('#trackerForm').submit(function(event) {

    $('#items').empty();
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })

        .done(function(data) {
            $('#citems').empty();
            console.log(data)
            data = JSON.parse(data);

            if (data['status'] == 'success') {
                updates = data['updates'];

                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                    $('#items').append(mystr);

                }

                // Fill in the order details
                cart = JSON.parse(data['itemsJson']);
                console.log(cart);
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
                    $('#citems').append(mystr);
                }


            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    با عرض پوزش، در حال حاضر موفق به پیدا کردن شماره ی سفارش و یا آدرس ایمیل نشدیم . لطفا مجددا شماره سفارش و ایمیل را بررسی نمایید
                    </li>`
                $('#items').append(mystr);
                $('#citems').append(mystr);


            }



        });

    event.preventDefault();

});
</script>
{% endblock %}